<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <h3>Категории WB</h3>
        {% for category in categories %}
            <ul>
                <li class="category" data-id="{{ category.id }}">{{ category.name }}
                    {% if category.childs %}
                        <ul>
                            {% for subcategory in category.childs %}
                                <li class="subcategory" data-id="{{ subcategory.id }}" data-shard="{{ subcategory.shard }}" data-query="{{ subcategory.query }}">{{ subcategory.name }}
                                    {% if subcategory.childs %}
                                        <ul>
                                            {% for ssubcategory in subcategory.childs %}
                                                <li>{{ ssubcategory.name }}
                                                    {% if ssubcategory.childs %}
                                                        <ul>
                                                            {% for sssubcategory in ssubcategory.childs %}
                                                                <li>{{ sssubcategory.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        {% endfor %}
    </section>
</body>
</html>