{% extends 'base.html' %}

{% load static %}

{% block aside %}
    <nav>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
        <a href="{% url 'frontend:main' %}" class="header">К поиску</a>
    </nav>
    <div class="filters-container">
        <p class="header">Фильтры</p>
        <div class="filter-wrapper">
            <p class="label">Цена</p>
            <input type="number" name="low-price" id="low-price" placeholder="Мин">
            <input type="number" name="top-price" id="top-price" placeholder="Макс">
        </div>
        <div class="filter-wrapper">
            <p class="label">Рейтинг</p>
            <input type="number" min="0" max="5" step="0.1" placeholder="Не ниже">
        </div>
        <div class="filter-wrapper">
            <p class="label">Отзывы</p>
            <input type="number" min="0" placeholder="Не менее">
        </div>
        <div class="filter-btns">
            <button class="primary">Применить</button>
            <button class="secondary">Сбросить</button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <nav class="categories">
        <div class="loading"></div>
    </nav>
    <section id="charts">
        <div class="charts-wrapper">
            <div class="chart">
                <p>Распределение цены vs количество товаров</p>
                <div class="loading"></div>
                <canvas id="chart1"></canvas>
            </div>
            <div class="chart">
                <p>Размер скидки на товар vs рейтинг товара</p>
                <div class="loading"></div>
                <canvas id="chart2"></canvas>
            </div>
        </div>
    </section>
    <section id="products">
        <nav class="pagination hidden">
            <p class="prev"></p>
            <ul>

            </ul>
            <p class="next"></p>
        </nav>
        <div class="table-wrapper">
            <div class="loading"></div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/products.js' %}" defer></script>
{% endblock %}